{% extends "base.html" %}
{% load core %}

{% block content %}
<div class="container">
  <div class="row py-2">
    <div class="col">
      {% include 'alerts.html' %}
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      {{object}}
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <a href="{% get_url 'create' %}?folder={{object.id}}" class="btn btn-primary float-right js-load-form">Add Folder</a>
    </div>
  </div>
    {% if object.children.all  %}
  <div class="row py-2">
    <div class="col">
      <table id="table" class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Parent</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object.children.all  %}
          <tr>
            <td> <a href="{% get_url 'detail' obj  %}">{{obj.name}}</a></td>
            <td> {% if obj.parent %}<a href="{% get_url 'detail' obj.parent  %}">{% endif %}{{obj.parent|default_if_none:'---'}}{% if obj.parent %}</a>{% endif %}</td>
            <td>
              <a href="{% get_url 'update' obj  %}" class="js-load-form btn btn-warning"><i class="bi bi-pencil-square" style="font-size: 1rem;"></i></a>
              <a href="{% get_url 'delete' obj %}" class="js-load-form btn btn-danger"><i class="bi bi-x" style="font-size: 1rem;"></i></a>
              <a href="{% url 'dms:folder-create' %}?folder={{obj.id}}" class="btn btn-primary"><i class="bi bi-folder-plus" style="font-size: 1rem;"></i></a>
              <a href="{% url 'dms:add_files' obj.id %}" class="btn btn-primary">Add files</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
  <div class="row py-2">
    <div class="col">
      <a href="{% url 'dms:add_files' object.id %}" class="btn btn-primary float-right js-load-form">Add Files</a>
    </div>
  </div>
  {% if object.files.all  %}
  <div class="row py-2">
    <div class="col">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>Document</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for doc in object.files.all %}
            <tr>
              <td><a href="{{doc.document.url}}">{{doc.document.name}}</a></td>
              <td><a href="{% url 'dms:delete_file' object.pk doc.id %}" class="btn btn-danger">Remove file</a></td>
            </tr>
             {% endfor %}
          </tbody>
      </table>

    </div>
  </div>
  {% endif %}
  <div class="row py-2">
    <div class="col">
      <a href="{% get_url 'list' %}" class="btn btn-light">Back</a>
    </div>
  </div>
</div>
{% endblock %}
