{% extends "base.html" %}
{% load core %}

{% block content %}
<div class="container">
  <div class="row py-2">
    <div class="col">
      {{object}}
    </div>
  </div>
  {% if object.files.all  %}
  <div class="row py-2">
    <div class="col">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>Document</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for doc in object.files.all %}
            <tr>
              <td><a href="{{doc.document.url}}">{{doc.document.name}}</a></td>
              <td><a href="{% url 'dms:delete_file' object.pk doc.id %}" class="btn btn-danger">Remove file</a></td>
            </tr>
             {% endfor %}
          </tbody>
      </table>

    </div>
  </div>
  {% endif %}
  <div class="row py-2">
    <div class="col">
      <a href="{% get_url 'list' %}" class="btn btn-light">Back</a>
    </div>
  </div>
</div>
{% endblock %}
