{% extends "base.html" %}
{% load core %}
{% block content %}
<div class="container">
  <div class="row py-2">
    <div class="col">
      {% include 'alerts.html' %}
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <a href="{% get_url 'create' %}" class="btn btn-primary float-right js-load-form">Add</a>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <table id="table" class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Parent</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list  %}
          <tr>
            <td> <a href="{% get_url 'detail' object  %}">{{object.name}}</a></td>
            <td> {% if object.parent %}<a href="{% get_url 'detail' object.parent  %}">{% endif %}{{object.parent|default_if_none:'---'}}{% if object.parent %}</a>{% endif %}</td>
            <td>
                <a href="{% get_url 'update' object  %}" class="js-load-form"><i class="bi bi-pencil-square text-warning" style="font-size: 2rem;"></i></a>
                <a href="{% get_url 'delete' object %}" class="js-load-form"><i class="bi bi-x text-danger" style="font-size: 2rem;"></i></a>
                <a href="{% url 'dms:folder-create' %}?folder={{object.id}}"><i class="bi bi-folder-plus text-primary" style="font-size: 2rem;"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
